:root {
    --main-bg-color: #2c2c2c;
    --secundary-bg-color: #050505;
    --tercer-bg-color: #333333;
    --cuarto-bg-color: #3e3e3e;
    --quinto-bg-color: #282828;
    --color-verde: #1DB954;
    --font-menu-color: #dfdfdf;
    
}