.paginaVacia {
    background-color: rgb(255,205,210);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.imagen{
    
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    
}

.texto {
    text-align: center;
    align-self: center;
    width: 50%;
    height: 50%;
}

.disco{
    border-radius: 50%;
    height: 50%;
    width: 40%;
    border: 1px solid black;
    background-image: url("../img/icon/disco.svg");
    background-size: contain;
}